html {
  background-color: #ffffff;
}

.css-61ww0h {
padding: 0;
margin: 0;
display: block;
font-size: min( 13.334362666666669vw, 100.00772px );
font-family: Outline;
font-style: normal;
font-weight: 700;
text-decoration-line: none;
color: rgba(235,234,230,1);
line-height: 0.7em;
letter-spacing: -0.1em;
list-style-type: none;
overflow: visible;
max-height: 100%;
position: relative;
top: 0.08649999999999998em;
padding-top: 0px;
padding-bottom: 7.900609880000001px;
margin-top: calc(min(100vw, 750px) / 375*0.20001543999999957);
margin-bottom: calc(min(100vw, 750px) / 375*0);
overflow-wrap: break-word;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000;
  margin-top: 20px;
  grid-area: header;
  width: 100%;
}



h1 {
  font-size: 65px;
  color: #000000;
  font-weight: 400;
  line-height: 65px;
}

h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 400;
  line-height: 25px;
}

h3 {
  font-size: 16px;
  color: #000000;
  line-height: 22px;
}

h3 {
  font-size: 16px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-size: 8px;
  font-weight: 400;
  color: #000000;
  line-height: 10px;
}

h3 a {
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

h3 a:hover {
  font-weight: bold;
  color: #000000;
}

@media screen and (max-width: 480px){
h1 {
  text-align: center;
  font-size: 34px;
  line-height: 34px;
}}

@media screen and (max-width: 480px) {
h2 {
  text-align: center;
  font-size: 25px;
}}

.grid {
  display: grid;
  grid-template-columns: 1% 59% 1% 38% 1%;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-template-areas:
  ". header header header ."
  ". left left left ."
  ". right right right ."
  ". photo photo photo ."
  ". footer footer footer .";
}

.photo {
  grid-area: photo;
  align-self: center !important;
  align-content: center !important;
}

.header {
  grid-area: header;
  text-align: center;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.footer {
  grid-area: footer;
}

@media screen and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1% 20% 39% 1% 38% 1%;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-template-areas:
    ". photo header header header ."
    ". left left . right ."
    ". footer footer footer footer .";
  }
}

@media screen and (min-width: 600px) {
  .header {
    text-align: left;
  }
}

.collegebutton {
  background: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-right: 10px;
  text-decoration: none;
  display: inline-block;
  width: 43px;
  height: 36px;
}

.collegebutton:hover {
  background-color: #000000;
  font-weight: bold;
}
.collegebutton:hover img{
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.collegebuttonsocial
{
  display: inline-block;
  width: 40%;
  border: 3px solid #000000;
  text-align: center !important;
  vertical-align: middle !important;
  font-weight: 400;
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow-x: auto;
  overflow-y: hidden;
  text-decoration: none;
}

.collegebuttonsocial a
{
  color: #ffffff;
}

.collegebuttonsocial a:hover
{
  color: #000000 !important;
  font-weight: bold;
}

.collegebuttonsocial:hover
{
  text-align: center !important;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 8px;
  color: #000000 !important;
}

.college {
  background: #FFFFFF;
  color: #000000;
  border: 3px solid #000000;
  border-radius: 8px;
  margin-bottom: 15px;
  font-weight: normal;
  overflow: auto;
  height:auto;
}

.college h2 {
  font-size: 25px;
  line-height: 25px;
  margin: 5px;
  font-weight: bold;
}

.college h3 {
  font-size: 15px;
  line-height: 22px;
  margin: 5px;
  font-weight: normal;
}

.college a {
  color: #007CE1;
}

.college a:hover {
  color: #000000;
  font-weight: bold;
}

.collapsible {
  color: #FFFFFF;
  background-color: #000000;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 8px;
  text-align: left;
  outline: none;
  font-size: 14px;
}

.collapsible:hover {
  color: #000000;
  font-weight: bold;
  background-color: #FFFFFF;
}

.active {
  background-color: #000000;
}

.collapsible:after {
  content: "Show more";
}

.active:after {
  content: "Show less";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.title {
  font-size: 70px;
  color: #000000;
  font-weight: 900;
  line-height: 50px;
  padding-left: 6px;
  font-family: 'Montserrat', sans-serif !important;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 40px;
    line-height: 29px;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 100%;
}

.image-list-small {
  margin: 0 auto;
  padding: 0;
  vertical-align: middle !important;
  align: center;
}

.image-list-small li {
  display: inline-block;
  width: 200px;
  margin: 10px 10px 10px 10px;
  vertical-align: middle !important;
  align: center !important;
  align-content: center !important;
}

.image-list-small li > a {
  display: block;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  height: 137px;
  margin: 0;
  padding: 0;
}

.image-list-small li img{
    width: 100%; /* To make the images responsive */
    height: auto;
}

.image-list-small .details {
}

.image-list-small .details h3 {
  display: block;
  margin: 0 0 3px 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-wdith: 640px){
.image-list-small{
   max-width: 100%;
 }
.image-list-small li > a {
   width: 30%;
 }
}


.image-list-clip {
  margin: 0 auto;
  padding: 0;
  vertical-align: middle !important;
  align: center;
}

.image-list-clip li {
  display: inline-block;
  width: 400px;
  margin: 10px 10px 10px 10px;
  vertical-align: middle !important;
  align: center !important;
  align-content: center !important;
}

.image-list-clip li > a {
  display: block;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  height: 137px;
  margin: 0;
  padding: 0;
}

.image-list-clip li img{
    width: 100%; /* To make the images responsive */
    height: auto;
}

.image-list-clip .details {
}

.image-list-clip .details h3 {
  display: block;
  margin: 0 0 3px 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-wdith: 640px){
.image-list-clip{
   max-width: 100%;
 }
.image-list-clip li > a {
   width: 30%;
 }
}



.myform .entry {
  background: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 8px;  
  margin-bottom: 15px;
  height: 30px;
  width: 300px;
  font-size: 20px;
  padding-left: 2px;
}

.myform .entry:hover {
  background: #FFFFFF;
  color: #000000;
  font-weight: 700;
}

.myform .submit {
  background: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 8px;
  height: 30px;
  width: 100px;
  font-size: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.myform .submit:hover {
  background: #FFFFFF;
  color: #000000;
  font-weight: 700;
}

.myformre .entryre {
  background: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 8px;
  margin-bottom: 15px;
  height: 30px;
  width: 300px;
  font-size: 20px;
  padding-left: 2px;
}

.myformre .entryre:hover {
  background: #FFFFFF;
  color: #000000;
  font-weight: 700;
}

.myformre .submitre {
  background: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 8px;
  height: 30px;
  width: 100px;
  font-size: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.myformre .submitre:hover {
  background: #FFFFFF;
  color: #000000;
  font-weight: 700;
}

.grecaptcha-badge {
  visibility: hidden;
}

mark {
  background-color: #000000;
  color: #FFFFFF;
}
