<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta charset="utf-8">
	    <meta content="IE=edge" http-equiv="X-UA-Compatible">
	    <meta content="Michal T. Ruprecht Official Website" name="description">
	    <meta name="keywords" content="Michal T. Ruprecht, Michal Ruprecht">
	    <meta content="Michal T. Ruprecht" name="author">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
			<style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');</style>
	    <link rel="stylesheet" type="text/css" href="https://michalruprecht.github.io/main.css">
	    <link rel="shortcut icon" async href="https://michalruprecht.github.io/assets/favicon.ico"/>
	    <style media="screen"></style>
	    <script src="https://michalruprecht.github.io/script.js"></script>
	    <!-- Global site tag (gtag.js) - Google Analytics -->
	    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141229929-1"></script>
	    <script>
	      window.dataLayer = window.dataLayer || [];
	      function gtag(){dataLayer.push(arguments);}
	      gtag('js', new Date());
	      gtag('config', 'UA-141229929-1');
	    </script>
		</head>
		<body oncopy="return false" onpaste="return false" oncut="return false">
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
        <div class="footer">
          <div class="college">
            <h3>
              <center><big>
                <big>
                  <a href="http://undergrad.michalruprecht.com/">Undergraduate Portfolio</a>｜
									<a href="https://michalruprecht.com/pages/journalism">Undergraduate Journalism Portfolio</a>｜
                  <a href="https://mruprecht.weebly.com/journalism-portfolio.html target="_blank"">High School Journalism Portfolio</a>｜
                  <a href="https://mruprecht.weebly.com/english.html" target="_blank">High School Portfolio</a></big>
                <br /><br />
                  <a class="collegebutton" href="mailto:me@michalruprecht.com" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/mail.svg" alt="EMail" style="width:32px;"></a>
                  <a class="collegebutton" href="http://contact.michalruprecht.com/" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/contact.svg" alt="Contact" style="width:32px;"></a>
                  <a class="collegebutton" href="https://www.linkedin.com/in/michalruprecht" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/linkedin.svg" alt="LinkedIn" style="width:32px;"></a>
                  <a class="collegebutton" href="https://twitter.com/michalruprecht" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/twitter.svg" alt="Twitter" style="width:32px;"></a>
                <br /><br /><hr width="20%" size="2" color="#01265D"></hr>
                <br />Copyright © 2019 - <script>document.write(new Date().getFullYear())</script> Michal T. Ruprecht. All Rights Reserved.
              </big></center>
            </h3>
          </div>
        </div>
			</footer>
		</body>
	</html>
