<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
        <div class="footer">
          <div class="college">
            <h3>
              <center><big>
                <big>
                  <a href="http://undergrad.michalruprecht.com/">Undergraduate Portfolio</a>｜
                  <a href="https://mruprecht.weebly.com/journalism-portfolio.html">Journalism Portfolio</a>｜
                  <a href="https://mruprecht.weebly.com/english.html" target="_blank">High School Portfolio</a></big>
                <br /><br />
                  <a class="collegebutton" href="mailto:me@michalruprecht.com" target="_blank"><img src="assets/icons/mail.svg" alt="EMail" style="width:32px;"></a>
                  <a class="collegebutton" href="http://contact.michalruprecht.com/" target="_blank"><img src="assets/icons/contact.svg" alt="Contact" style="width:32px;"></a>
                  <a class="collegebutton" href="https://www.linkedin.com/in/michalruprecht" target="_blank"><img src="assets/icons/linkedin.svg" alt="LinkedIn" style="width:32px;"></a>
                  <a class="collegebutton" href="https://twitter.com/michalruprecht" target="_blank"><img src="assets/icons/twitter.svg" alt="Twitter" style="width:32px;"></a>
                <br /><br /><hr width="20%" size="2" color="#01265D"></hr>
                <br />Copyright © 2019 - <script>document.write(new Date().getFullYear())</script> Michal T. Ruprecht. All Rights Reserved.
              </big></center>
            </h3>
          </div>
        </div>
			</footer>
		</body>
	</html>
