<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta charset="utf-8">
	    <meta content="IE=edge" http-equiv="X-UA-Compatible">
	    <meta content="Michal T. Ruprecht Official Website" name="description">
	    <meta name="keywords" content="Michal T. Ruprecht, Michal Ruprecht">
	    <meta content="Michal T. Ruprecht" name="author">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
			<style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
			@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
			</style>
	    <link rel="stylesheet" type="text/css" href="https://michalruprecht.github.io/med.css">
	    <link rel="shortcut icon" async href="https://michalruprecht.github.io/assets/favicon.ico"/>
	    <style media="screen"></style>
	    <script src="https://michalruprecht.github.io/script.js"></script>
	    <!-- Global site tag (gtag.js) - Google Analytics -->
	    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141229929-1"></script>
	    <script>
	      window.dataLayer = window.dataLayer || [];
	      function gtag(){dataLayer.push(arguments);}
	      gtag('js', new Date());
	      gtag('config', 'UA-141229929-1');
	    </script>
		</head>
				<body>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
		</body>

			<footer>
        <div class="footer">
          <div class="college">
            <h3>
              <center>
                <big>
                  <a href="http://michalruprecht.com/">Journalism portfolio</a>｜
									<a href="https://michalruprecht.com/pages/ceramics">Ceramics portfolio</a>
                <br /><br />
                  <a class="collegebutton" href="mailto:mruprecht@umich.edu" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/mail.svg" alt="EMail"></a>
									<a class="collegebutton" href="https://scholar.google.com/citations?user=BTPISPEAAAAJ" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/scholar.svg" alt="Google Scholar"></a>
                  <a class="collegebutton" href="https://www.linkedin.com/in/michalruprecht" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/linkedin.svg" alt="LinkedIn"></a>
                  <a class="collegebutton" href="https://twitter.com/michalruprecht" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/twitter.svg" alt="Twitter"></a>
                <br /><br /><h3>Copyright © 2019 - <script>document.write(new Date().getFullYear())</script> Michal T. Ruprecht. All rights reserved.
              </big></center>
            </h3>
		  <h3><small>This website is provided for educational and informational purposes only and does not constitute providing medical advice or professional services. The information provided should not be used for diagnosing or treating a health problem or disease, and those seeking personal medical advice should consult with a licensed physician. Always seek the advice of your doctor or other qualified health provider regarding a medical condition. [Never disregard professional medical advice or delay in seeking it because of something you have read on this website.] No physician-patient relationship is created by this website. Science and medicine are constantly evolving fields, and changes may impact the information contained herein. Neither Michal Ruprecht nor any contributor to this website makes any representations, express or implied, with respect to the information provided, and assumes no obligation to update any of the information stated herein.</small></h3>
          </div>
        </div>
			</footer>
		</body>
	</html>
