<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta charset="utf-8">
	    <meta content="IE=edge" http-equiv="X-UA-Compatible">
	    <meta content="Michal T. Ruprecht Official Website" name="description">
	    <meta name="keywords" content="Michal T. Ruprecht, Michal Ruprecht">
	    <meta content="Michal T. Ruprecht" name="author">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
			<style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');</style>
	    <link rel="stylesheet" type="text/css" href="https://michalruprecht.github.io/pages/undergrad/undergrad.css">
	    <link rel="shortcut icon" async href="https://michalruprecht.github.io/assets/favicon.ico"/>
	    <style media="screen"></style>
	    <script src="https://michalruprecht.github.io/script.js"></script>
	    <!-- Global site tag (gtag.js) - Google Analytics -->
	    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141229929-1"></script>
	    <script>
	      window.dataLayer = window.dataLayer || [];
	      function gtag(){dataLayer.push(arguments);}
	      gtag('js', new Date());
	      gtag('config', 'UA-141229929-1');
	    </script>
		</head>
			<div class="container">
				<div class="archive">
					<h3><big>
						<center>This is an archived page. Click <a href="http://michalruprecht.com/">here</a> to go to the current page.</center>
					</big></h3>
				</div>
			{{ content }}

			</div><!-- /.container -->
			<footer>
        <div class="footer">
          <div class="archive">
						<h3>
              <center>
                <big>
									This is an archived page.<br>
									<a href="http://med.michalruprecht.com/">Medical school portfolio</a>｜<a href="http://michalruprecht.com/pages/archive">Archive</a>
									<br>
                  <a href="http://undergrad.michalruprecht.com/">College portfolio</a>｜
									<a href="https://michalruprecht.com/pages/undergrad/journalism">College journalism portfolio</a>｜
									<a href="https://docs.google.com/document/d/1c3pbWPurnsckLuaG1WYNakTTlLadBBVEvQ_TyTN9Td8/preview" target="_blank">College resume</a>｜
									<a href="https://docs.google.com/document/d/1zGucccPpfg9DPAWmDgkXEIFJfTtTGV21heMFy3IVrl0/preview" target="_blank">College CV</a>
                <br /><br />
                  <a class="collegebutton" href="mailto:me@michalruprecht.com" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/mail.svg" alt="EMail" style="width:32px;"></a>
									<a class="collegebutton" href="https://scholar.google.com/citations?user=BTPISPEAAAAJ" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/scholar.svg" alt="Google Scholar" style="width:32px;"></a>
                  <a class="collegebutton" href="https://www.linkedin.com/in/michalruprecht" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/linkedin.svg" alt="LinkedIn" style="width:32px;"></a>
                  <a class="collegebutton" href="https://twitter.com/michalruprecht" target="_blank"><img src="https://michalruprecht.github.io/assets/icons/twitter.svg" alt="Twitter" style="width:32px;"></a>
                <br /><br />
                <br />Copyright © 2019 - <script>document.write(new Date().getFullYear())</script> Michal T. Ruprecht. All Rights Reserved.
              </big></center>
            </h3>
          </div>
        </div>
			</footer>
		</body>
	</html>
